#technologyState{
  text-transform: capitalize;

  &::before{
    content: "" !important;
  }
}

#technologyState{
  color: green
}

.statusBox{
  .works{
    color: green;

    &::before{
      content: "✅"
    }
  }

  .fails{
    color: red;

    &::before{
      content: "❌";
    }
  }

}